 body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h1, h2 {
            text-align: center;
            color: #333;
        }
        form {
            background-color: #fff;
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
        fieldset {
            border: none;
            margin-bottom: 15px;
        }
        legend {
            font-weight: bold;
            color: #007bff;
            margin-bottom: 10px;
            font-size: 1.1rem;
        }
        label {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
            font-weight: bold;
        }
        button {
            background-color: #007bff;
            color: white;
            padding: 12px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: 1rem;
            margin-top: 15px;
        }
        button:hover {
            background-color: #0056b3;
        }
        ul {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
            padding: 20px 30px;
            max-width: 400px;
            margin: 20px auto;
            list-style: none;
        }
        li {
            margin-bottom: 10px;
            font-size: 1.1rem;
        }
        a {
            display: inline-block;
            margin-top: 15px;
            margin-bottom: 10px;
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }